:root {
  --font-family-base: 'Segoe UI', Roboto, sans-serif;
  --color-text: #ffffff;
  --color-bg: #000000;
  --color-back: #1f1e1e;
  --color-primary: #D4FF27;
  --color-secondary: #9abe07;
  --color-red:#ff0000;
  --border-radius: 6px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-base);
  color: var(--color-text);
  text-decoration: none;
}
html {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-text);
  background-color: var(--color-bg);
}


body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  background-color: var(--color-bg);
  align-items: center;
}

footer {
  background-color: var(--color-bg);
  margin-top: 50px;
}

section {
  padding: 1em;
  margin: 0 auto;
  max-width: 1600px;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;

  padding: auto 20px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
 
}
.hero-bg {
    background-image: url('/assets/aboutimage.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 70vh;
  }

  .hero-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .hero-content {
    position: relative;
    z-index: 1;
  }

  .auth-bg {
    background-image: url('/assets/login-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
  }

  .auth-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .auth-content {
    position: relative;
    z-index: 1;
  }


  .last-bg {
    background-image: url('/assets/aboutimage5.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
   
  }

  .last-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .last-content {
    position: relative;
    z-index: 1;
  }

   .trade-bg {
    background-image: url('/assets/trade.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 70vh;
  }

  .trade-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .trade-content {
    position: relative;
    z-index: 1;
  }

   .fqa-bg {
    background-image: url('/assets/faq.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 70vh;
  }

  .fqa-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .fqa-content {
    position: relative;
    z-index: 1;
  }

  .contact-bg {
    background-image: url('/assets/contact.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 70vh;
  }

  .contact-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .contact-content {
    position: relative;
    z-index: 1;
  }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: var(--color-text);
}

p {
  color: var(--color-text);
}

a {
  color: var(--color-text);
  text-decoration: none;
}

a:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}

ul, ol {
  margin: 0 0 1em 1.5em;
  padding: 0;
}

button, input, textarea, select {
  font: inherit;
  padding: 0.5em;
  border-radius: var(--border-radius);
  background: #f9f9f9;
 color: var(--color-text);
}

button:hover, input:hover, textarea:hover, select:hover {
  border-color: #999;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link.active {
  color: var(--color-primary) !important;
  font-weight: 500;
}

.nav-links.active {
  background-color: var(--color-primary) !important;
  color: var(--color-bg) !important;
  font-weight: 500;
  border: none;
}

.accordion {
  background-color: var(--color-bg);
  color: var(--color-text);
}

.accordion-body {
  background-color: var(--color-bg);
  color: var(--color-text);
  border: none;
  border-radius: var(--border-radius);
  padding: 1em;
  font-size: 1rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.accordion-button {
  color: var(--color-text);
  background-color: var(--color-bg);
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.5 6l6 6 6-6z'/%3E%3C/svg%3E");
  filter: none !important;
}
.accordion-button:not(.collapsed) {
  color: var(--color-secondary);
  background-color: var(--color-bg);
}
.accordion-button:not(.collapsed)::after {
  transform: rotate(180deg);
  transition: transform 0.2s ease-in-out;
}

.nav-pills .nav-link {
    border: 1px solid white;
    color: white;
    background-color: transparent;
    transition: all 0.3s ease;
    margin: 20px 8px;
    
  }

  .nav-pills .nav-link.active {
    background-color: #D4FF27 !important;
    color: #121212 !important;
    border-color: #D4FF27 !important;
  }

#testimonial-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 1rem;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: calc(250px * 3 + 2rem);
  max-width: 100%;
  margin: 0 auto;
}

#testimonial-container::-webkit-scrollbar {
  display: none;
}

.card {
  flex: 0 0 auto;
  scroll-snap-align: center;
  width: 250px;
  border: 1px solid var(--color-secondary);
  border-radius: 8px;
  padding: 1rem;
  background: var(--color-back);
  text-align: center;
}

.pagination-dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 1rem;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid var(--color-secondary);
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: var(--color-primary);
}

@media (max-width: 768px) {
  #testimonial-container {
    width: 250px;
  }
}

.image-toggle-container {
  gap: 10px;
  width: 100%;
}

.image-frame {
  width: 150px;
  height: 250px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  flex-shrink: 1;
}


.image-frame.active {
  width: 300px;
  z-index: 1;
}


.image-frame:not(.active):hover {
  width: 300px;
  z-index: 2;
}

.image-frame.active:not(:hover) {
  width: 150px;
}

.card {
  border: 1px solid var(--color-primary);
  border-radius: 8px; 
  padding: 1em; 
  margin: 1em; 
  width: 250px; 
}

#card-container { 
  display: flex; 
  flex-wrap: wrap; 
  gap: 1em; 
}

 #card-container.card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1rem;
      padding: 1rem;
    }

    .form-check-input {
    background-color: transparent !important;
    border: 2px solid var(--color-text) !important;
    box-shadow: none !important;
    transition: background 0.2s;
  }
  
  .form-check-input:checked {
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
  }
  .form-check-input:checked[type="checkbox"] {

    background-image:
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='{{COLOR}}' d='M13.485 1.929a1.5 1.5 0 0 1 0 2.121l-7.071 7.07a1.5 1.5 0 0 1-2.121 0l-3.182-3.182a1.5 1.5 0 1 1 2.121-2.121l2.121 2.121 6.01-6.01a1.5 1.5 0 0 1 2.122 0z'/%3e%3c/svg%3e");

  }

.range-container {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: 40px;
}

.range-progress {
  position: absolute;
  left: 0;
  top: 32%;
  transform: translateY(-50%);
  height: 8px;
  border-radius: 8px;
  background: var(--color-red);
  z-index: 10;
  pointer-events: none;
  width: 10%;
  transition: width 0.2s;
}

#percentRangeBar input[type="range"] {
  background: transparent !important;
  position: relative;
  z-index: 9;
  width: 100%;
  margin: 0;
  height: 8px;
}

.form-range {
  width: 100%;
  appearance: none;
  height: 6px;
  border-radius: 5px;
  outline: none;
  background: transparent;
}

.form-range::-webkit-slider-thumb {
  appearance: none;
  width: 0;
  height: 0;
  background: transparent;
  border: none;
  box-shadow: none;
}
.form-range::-moz-range-thumb {
  width: 0;
  height: 0;
  background: transparent;
  border: none;
}
.form-range::-ms-thumb {
  width: 0;
  height: 0;
  background: transparent;
  border: none;
}

.custom-thumb {
  position: absolute;
  top: 32%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  background: var(--color-primary);

  border-radius: 50%;
  z-index: 20;
  pointer-events: none;
  transition: left 0.2s;
}

.range-labels {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #e60202;
  z-index: 3;
  pointer-events: none;
}


@media (prefers-color-scheme: dark) {
:root {
    --color-bg: #000000; 
    --color-text: #eee;
    --color-link: #8ab4f8;
    --color-link-hover: #a5c3ff;
  }

  body {
    background-color: var(--color-bg);
    color: var(--color-text);
  }

  section {
    background-color: #000000 !important;
  }
}
 @media (min-width: 1024px) {
      #card-container {
        grid-template-columns: repeat(4, 1fr);
      }}